
.icon-mail:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-briefcase:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-graduation-cap:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-mobile:before { content: '\e806'; } /* '' */
.icon-code:before { content: '\e807'; } /* '' */