body {
  min-height: 2000px;
  padding-top: 70px;
}
nav{
    background: fixed;
}
nav li {
    background: #FFF;
    height: 2em;
    font-family: Helvetica;
}
span{
    font-size: 22px;
}
.home1 {
    min-height: 50%;
    background: url("https://dl.dropboxusercontent.com/u/5654383/arnigeir.com/IMG_7707.JPG") fixed;
    background-size: cover;
    background-position:center center;
    max-width: 100% !important;
}
.starf {
    min-height: 50%;
    background: #FFFFF9 fixed;
    background-size: cover;
    background-position:center center;
    max-width: 100% !important;
}
.ummig{
    margin-top:27em;
    background: #FFFFF9 fixed;
}
.haus{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -10%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -10%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 10%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 10%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
